[[server]]
name = "local"
[server.config]
address = "https://172.17.0.1:8120"
enabled = true

##

[[stack]]
name = "komodo"
[stack.config]
server = "local"
poll_for_updates = true
linked_repo = "homelab"
run_directory = "docker/komodo"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
KOMODO_DB_USERNAME=[[KOMODO_DB_USERNAME]]
KOMODO_DB_PASSWORD=[[KOMODO_DB_PASSWORD]]
KOMODO_PASSKEY=[[KOMODO_PASSKEY]]
KOMODO_HOST=[[KOMODO_HOST]]
KOMODO_WEBHOOK_SECRET=[[KOMODO_WEBHOOK_SECRET]]
KOMODO_LOCAL_AUTH=true
KOMODO_DISABLE_USER_REGISTRATION=true
TRAEFIK_DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
"""

##

[[stack]]
name = "pangolin"
[stack.config]
server = "local"
poll_for_updates = true
destroy_before_deploy = true
linked_repo = "homelab"
run_directory = "docker/pangolin"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
TRAEFIK_DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
SERVER_SECRET=[[PANGOLIN_SERVER_SECRET]]
SMTP_HOST=[[COMMON_SMTP_HOST]]
SMTP_USER=[[COMMON_SMTP_USER]]
SMTP_PASSWORD=[[COMMON_SMTP_PASSWORD]]
SMTP_NO_REPLY_EMAIL=[[COMMON_SMTP_NO_REPLY_EMAIL]]
"""

##

[[stack]]
name = "traefik"
[stack.config]
server = "local"
poll_for_updates = true
destroy_before_deploy = true
linked_repo = "homelab"
run_directory = "docker/traefik"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
HETZNER_API_TOKEN=[[TRAEFIK_HETZNER_API_TOKEN]]
DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
DOMAINNAME_1_EMAIL=[[TRAEFIK_DOMAINNAME_1_EMAIL]]
"""

##

[[repo]]
name = "homelab"
[repo.config]
server = "local"
builder = "local"
git_account = "theconen"
repo = "theconen/homelab"

##

[[procedure]]
name = "Backup Core Database"
description = "Triggers the Core database backup at the scheduled time."
tags = ["system"]
config.schedule_alert = false
config.schedule = "Every day at 01:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "BackupCoreDatabase", execution.params = {}, enabled = true }
]

##

[[procedure]]
name = "GitOps"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "PullRepo", execution.params.repo = "homelab", enabled = true }
]

[[procedure.config.stage]]
name = "Stage 2"
enabled = true
executions = [
  { execution.type = "RunSync", execution.params.sync = "homelab", enabled = true }
]

[[procedure.config.stage]]
name = "Stage 3"
enabled = true
executions = [
  { execution.type = "BatchDeployStackIfChanged", execution.params.pattern = "*", enabled = true }
]

##

[[procedure]]
name = "Global Auto Update"
description = "Pulls and auto updates Stacks and Deployments using 'poll_for_updates' or 'auto_update'."
tags = ["system"]
config.schedule_alert = false
config.schedule = "Every day at 03:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "GlobalAutoUpdate", execution.params = {}, enabled = true }
]

##

[[alerter]]
name = "Discord"
[alerter.config]
enabled = true
endpoint.type = "Discord"
endpoint.params.url = "[[KOMODO_DISCORD_ALERTS_WEBHOOK]]"

##

[[builder]]
name = "local"
[builder.config]
type = "Server"
params.server_id = "local"

##

[[resource_sync]]
name = "homelab"
[resource_sync.config]
linked_repo = "homelab"
resource_path = ["komodo/docker-test0.toml"]
managed = true
delete = true