services:
  mongo:
    container_name: "nightscout-mongodb"
    image: "mongo:8.2.3"
    restart: "unless-stopped"
    command: "--quiet --wiredTigerCacheSizeGB 0.25"
    security_opt:
      - "no-new-privileges:true"
    volumes:
      - "${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/mongo-data:/data/db:z"
      - "${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/mongo-config:/data/configdb:z"
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${NIGHTSCOUT_DB_USERNAME:?error}"
      MONGO_INITDB_ROOT_PASSWORD: "${NIGHTSCOUT_DB_PASSWORD:?error}"
  nightscout:
    image: "nightscout/cgm-remote-monitor:15.0.3"
    container_name: "nightscout"
    restart: "unless-stopped"
    security_opt:
      - "no-new-privileges:true"
    depends_on:
      - "mongo"
    networks:
      - "proxy"
      - "default"
    environment:
      # https://github.com/nightscout/cgm-remote-monitor#environment
      NODE_ENV: "production"
      TZ: "Europe/Berlin"
      PORT: "8080"
      HOSTNAME: "0.0.0.0"
      INSECURE_USE_HTTP: "true"
      MONGO_CONNECTION: "mongodb://${NIGHTSCOUT_DB_USERNAME:?error}:${NIGHTSCOUT_DB_PASSWORD:?error}@mongo:27017/nightscout?authSource=admin"
      API_SECRET: "${API_SECRET:?error}"
      ENABLE: "careportal rawbg iob cors"
      AUTH_DEFAULT_ROLES: "denied"
      DISPLAY_UNITS: "mg/dl"
      TIME_FORMAT: "24"
      CUSTOM_TITLE: "TheConen's Nightscout"
      THEME: "colors"
      SHOW_FORECAST: "false"
      ALARM_TIMEAGO_WARN: "off"
      ALARM_TIMEAGO_URGENT: "off"
      ALARM_HIGH: "off"
      ALARM_LOW: "off"
      ALARM_URGENT_HIGH: "off"
      ALARM_URGENT_LOW: "off"
    labels:
      traefik.enable: true
      traefik.http.routers.nightscout-internal.entrypoints: "websecure-internal"
      traefik.http.routers.nightscout-external.entrypoints: "websecure-external"
      traefik.http.routers.nightscout-internal.rule: "Host(`nightscout.${TRAEFIK_DOMAINNAME_1:?error}`)"
      traefik.http.routers.nightscout-external.rule: "Host(`nightscout.${TRAEFIK_DOMAINNAME_1:?error}`)"
      traefik.http.routers.nightscout-internal.service: "nightscout"
      traefik.http.routers.nightscout-external.service: "nightscout"
      traefik.http.routers.nightscout-external.middlewares: "badger@docker"
      traefik.http.services.nightscout.loadbalancer.server.port: 8080
  nightscout-reporter:
    container_name: "nightscout-reporter"
    build: "https://github.com/TheConen/nightscout-reporter-angular.git"
    pull_policy: "always"
    restart: "unless-stopped"
    security_opt:
      - "no-new-privileges:true"
    configs:
        - source: "nginx-config"
          target: "/etc/nginx/conf.d/nginx.conf"
    networks:
      - "proxy"
    labels:
      traefik.enable: true
      traefik.http.routers.nightscout-reporter-internal.entrypoints: "websecure-internal"
      traefik.http.routers.nightscout-reporter-external.entrypoints: "websecure-external"
      traefik.http.routers.nightscout-reporter-internal.rule: "Host(`nightscout-reporter.${TRAEFIK_DOMAINNAME_1:?error}`)"
      traefik.http.routers.nightscout-reporter-external.rule: "Host(`nightscout-reporter.${TRAEFIK_DOMAINNAME_1:?error}`)"
      traefik.http.routers.nightscout-reporter-internal.service: "nightscout-reporter"
      traefik.http.routers.nightscout-reporter-external.service: "nightscout-reporter"
      traefik.http.routers.nightscout-reporter-external.middlewares: "badger@docker"
      traefik.http.services.nightscout-reporter.loadbalancer.server.port: 80
  db-backup:
    container_name: "${COMPOSE_PROJECT_NAME:?error}-db-backup"
    image: "tiredofit/db-backup:4.1.21"
    restart: "unless-stopped"
    security_opt:
      - "no-new-privileges:true"
    volumes:
      - "${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/db-backups:/backup:z"
    environment:
      TIMEZONE: "Europe/Berlin"
      CONTAINER_NAME: "${COMPOSE_PROJECT_NAME:?error}-db-backup"
      CONTAINER_ENABLE_MONITORING: "FALSE"
      DEFAULT_BACKUP_SCHEDULE: "0 2 * * *"
      DEFAULT_CLEANUP_TIME: "8640" # Cleanup after 7 days
      DB01_TYPE: "mongodb"
      DB01_MONGO_CUSTOM_URI: "mongodb://${NIGHTSCOUT_DB_USERNAME:?error}:${NIGHTSCOUT_DB_PASSWORD:?error}@mongo:27017/nightscout?authSource=admin"
networks:
  default: {}
  proxy:
    external: true
    name: "${TRAEFIK_NETWORK_NAME:-proxy}"
configs:
  nginx-config:
    content: |
      server {        
        index index.html;
        location / {
          try_files $$uri $$uri/ /index.html;
        }
      }
